{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'timer/style.css' %}">
<h3>Timer Page</h3>
{% if tabDates %}
    {% for date in tabDates %}
    <div class="blocDate">
        <p>Localisation : {{ date.date }}</p>
        <p>Date : {{ date.date }}</p>
        <p>Heure : {{ date.date }}</p>
    </div>
    {% endfor %}
{% else %}
    <p>No Timer are available.</p>
{% endif %}
<script>
    /*
    console.log("{{tabDates}}");
    let tabDate = "{{tabDates}}".split("&#x27;");
    let tempString = "";
    tabDate = tabDate.forEach((val, index) => {
        tempString += val;
    })
    tempString = tempString.substring(1, tempString.length - 1)
    tempString.replace(' ', '');
    tempString = tempString.split(', ')
    console.log(tempString)
    tabDate = [];
    for (const date of tempString) {
        console.log(date);
        tabDate.push(JSON.stringify(date));
    }
    console.log(tabDate)
    */
</script>
