{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'timer/style.css' %}">
<h3>Timer Page</h3>
{% if tabDates %}
    {% for date in tabDates %}
    <div id="{{date.localisation}}" class="blocDate">
        <p>Localisation : {{ date.localisation }}</p>
        <p>Date : {{ date.date }}</p>
        <p>Heure : {{ date.heure }}</p>
    </div>
    {% endfor %}
{% else %}
    <p>No Timer are available.</p>
{% endif %}
{% load static %}
<script src="{% static 'timer/javascript.js' %}"></script>
